@import "typography";

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 99999;

  &--green {
    background-color: #0cdb95;
  }

  &__title {
    color: #ffffff;
    font-size: $font-size-title;
    font-weight: bold;
  }

  &__actions {
    button {
      margin: 0 2px;
    }
  }
}
